**Data Types and Structures Questions**

**1. What are data structures, and why are they important?**

-> Data structures are the way to organize, format and store data in such designed way so that they can be retrieved and manipulated efficiently by user.

-> Python has several data structures of its own like String, List, Tuples, Dictionary etc., which helps user to perform operations on data in much convenient way.

**2. Explain the difference between mutable and immutable data types with examples?**

-> Mutable data types refer to those types which can be changed or modified after creation and hence no new object will be created.
Examples - Python has mutable data structures like List, Dictionary, Set etc.

-> Immutable data types refers to those types which cannot be changed or modified after creation. An operations which may seems to change the immutable type, it results into a new object creation.
Examples - Python has immutable data structures like String, Tuples etc.

**3. What are the main differences between lists and tuples in Python?**

-> Lists Data structure is mutable in nature i.e., elements of list can be modified and changed after creation. It can be represented as grocery_list which can be modified on our needs.

-> Tuples are immutable in nature i.e., once it is created then elements cannot be modified later. It can be used to store such items like aadhar number, user_id etc. which are created only ones for each user.

**4. Describe how dictionaries store data?**

-> Dictionaries store data in form of Key, Value pairs where Key can be integer, string and boolean etc. Elements in dictionary can be accessed and modified using Key easily.
Use Case - Can be used to record frequency of events.

**5. Why might you use a set instead of a list in Python?**

-> Lists are used to store ordered collection of data. It also stores duplicates items. However, Set are used to store data in unordered fashion and it does not allow duplication.
Hence, when we wants to store only unique elements then it is convenient to use set in Python.

**6. What is a string in Python, and how is it different from a list?**

-> String represent sequence of character and it is a immutable Data Structure.
Once String is defined they it cannot be modified.

-> List is used to store collections of hetrogenous data and it is mutable in nature. It can be modified and manipulated after creation.

**7. How do tuples ensure data integrity in Python?**

-> Tuples are immutable in nature and hence, it won't allow user to modify the data once it is created. However, user can add some more data and clear or delete the whole tuple but can't modify existing data.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

-> Hash table store data in form of Key and Value pairs. Hence, it allows fast retrieval of data. In same way, Dictionary in python also store data in form of Key, Value pairs which allows easy and fast retrival of data.

**9. Can lists contain different data types in Python?**

-> Yes, list can store hetrogeneous types on data. It can store String, Integers, Float, Boolean, Complex Numbers etc.

**10. Explain why strings are immutable in Python?**

-> A defined string can be used in different methods of classes. If Strings are mutable, then we can change the value of String at any methods and it will impact all other use cases of the same string. Hence, it will break the application. Hence, the reason String is immutable so, that it can't be modified.

**11. What advantages do dictionaries offer over lists for certain tasks?**

-> Dictionaries store data in form of Key,Value pairs whereas List store data in form of ordered collection. When we want to store data related to some user or event then it is much efficient to use the dictionary than list. It will be very confusing and complicated to retrieve info of that user. But Dictionary allow us to store in form of Key, Value and hence allow easy retreival of selected information.
For example - If we want to store the frequency of an element then it will be much helpful to use dictionary instead of list.

**12. Describe a scenario where using a tuple would be preferable over a list?**

-> Tuples provide immutability and data integrity. It provides the read-only feature. Hence, if once record is created then no modification allowed to data.
In case geo locations, aadhar_number, voter_id etc., we don't want any accidental changes to happen to these records because these are unique data respect to each user.

**13. How do sets handle duplicate values in Python?**

-> Sets don't allow storage of duplicate values, only unique values are allowed. If a user want to store a duplicate value, then if value is present in the set then it will not be added again.

**14. How does the “in” keyword work differently for lists and dictionaries?**

-> Membership operator 'in' is used to verify if record is present in list or not. It returns boolean value True if record is present otherwise, false.

-> For Dictionary, 'in' used to traversed through Keys to verify if particular key is present or not. It will not touch values, only key will be traversed. It also returns a boolean value of true or false.

**15. Can you modify the elements of a tuple? Explain why or why not?**

-> A tuple is a immutable data structure and hence, we cannot modify the elements of tuple. It is created to store fixed and unchangeable data only.

**16. What is a nested dictionary, and give an example of its use case?**

-> A dictionary defined inside another dictionary is called nested dictionary.

Use Case - To store the data of each day of a restaurant, we can use nested dictionary. Let's say, a restaurant owner wants to store name, contact of the peoples who eats at his restaurant for seven days.
Restaurant owner can create a dictionary with DayName as Keys and another dictionary with name, contact as values.

Ex:
{"Monday": {"name": "Rahul" , "Contact": 1234}, "Tuesday": {"name": "Pankaj" , "Contact": 2345}} and so on.

**17. Describe the time complexity of accessing elements in a dictionary?**

-> We can access an element of Dictionary by using Key directly. Hence, dictionary takes O(1) times complexity for accessing an element.

**18. In what situations are lists preferred over dictionaries?**

-> When we want to store huge number of records in sequence, order is mattered and also duplicated elements are there, then list is preferred. When the requirement is for sequential access of all elements then list can be preffered.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

-> In dictionary, elements are stored in Key, Value pairs and hence order does not matter. If you want to add some value in dictionary then you to have add value with respective Key only. If that Key is already present then exisiting value will be overriden by new value.

**20. Explain the difference between a list and a dictionary in terms of data retrieval?**

-> In case of dictionary, if want to access the elements in respect to there key then it will take O(1) time. However, if want to access each Key and their respective Values then it will take O(n) time.

-> In case of list, if we aware of the index of searcheable item then we can directly access the item in O(1) time. To access all elements, we have to iterate through each element in list and it will take O(n) time.

**Practical Questions:**

In [32]:
# 1 - Write a code to create a string with your name and print it.
my_name = "Tushar Pandey"
print(my_name)

Tushar Pandey

In [2]:
# 2 - Write a code to find the length of the string "Hello World".
sample = "Hello World"
len(sample)

11

In [3]:
# 3 - Write a code to slice the first 3 characters from the string "Python Programming".
sample = "Python Programming"
sample[0:3]

'Pyt'

In [7]:
# 4 - Write a code to convert the string "hello" to uppercase.
sample = "hello"
sample.upper()

'HELLO'

In [8]:
# 5 - Write a code to replace the word "apple" with "orange" in the string "I like apple".
sampleString = "I like apple"
sampleString.replace("apple", "orange")

'I like orange'

In [9]:
# 6 - Write a code to create a list with numbers 1 to 5 and print it.
sampleList = [1,2,3,4,5]
print(sampleList)

[1, 2, 3, 4, 5]

In [11]:
# 7 - Write a code to append the number 10 to the list [1, 2, 3, 4].
sampleList = [1, 2, 3, 4]
sampleList.append(10)
sampleList

[1, 2, 3, 4, 10]

In [12]:
# 8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
sampleList = [1, 2, 3, 4, 5]
sampleList.remove(3)
sampleList

[1, 2, 4, 5]

In [13]:
# 9 - Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
sampleList = ['a', 'b', 'c', 'd']
sampleList[1]

'b'

In [14]:
# 10 - Write a code to reverse the list [10, 20, 30, 40, 50].
sampleList = [10, 20, 30, 40, 50]
sampleList[::-1]

[50, 40, 30, 20, 10]

In [31]:
# 11 - Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup_val = (10, 20, 30)
print(tup_val)

(10, 20, 30)

In [17]:
# 12 - Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple_Values = ('apple', 'banana', 'cherry')
tuple_Values[0]

'apple'

In [18]:
# 13 - Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple_Values = (1, 2, 3, 2, 4, 2)
tuple_Values.count(2)

3

In [19]:
# 14 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_Values = ('dog', 'cat', 'rabbit')
tuple_Values.index('cat')

1

In [20]:
# 15 - Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple_Val = ('apple', 'orange', 'banana')
"banana" in tuple_Val

True

In [30]:
# 16 - Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set_val = {1, 2, 3, 4, 5}
print(set_val)

{1, 2, 3, 4, 5}

In [25]:
# 17 - Write a code to add the element 6 to the set {1, 2, 3, 4}.
set_val = {1, 2, 3, 4}
set_val.add(6)
set_val

{1, 2, 3, 4, 6}

In [29]:
# 18 - Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup_values = (10, 20, 30)
print(tup_values)

(10, 20, 30)

In [33]:
# 19 - Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple_Values = ('apple', 'banana', 'cherry')
tuple_Values[0]

'apple'

In [34]:
# 20 - Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple_Values = (1, 2, 3, 2, 4, 2)
tuple_Values.count(2)

3

In [35]:
# 21 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_Values = ('dog', 'cat', 'rabbit')
tuple_Values.index('cat')

1

In [36]:
# 22 - Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple_Val = ('apple', 'orange', 'banana')
"banana" in tuple_Val

True

In [37]:
# 23 - Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set_val = {1, 2, 3, 4, 5}
print(set_val)

{1, 2, 3, 4, 5}

In [38]:
# 24 - Write a code to add the element 6 to the set {1, 2, 3, 4}.
set_val = {1, 2, 3, 4}
set_val.add(6)
set_val

{1, 2, 3, 4, 6}